/ejercicio1/JavaApplication17/nbproject/private/
/ejercicio2/JavaApplication18/nbproject/private/
/ejercicio2/tabla2/nbproject/private/
/ejercicio2/tabla2/build/
/ejerciciotabla/JavaApplication20/nbproject/private/
